<% include partials/header %>

<% if(currentUser && currentUser.isAdmin) { %>
    <h1>Welcome ADMIN !!</h1>

<% } %> 

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <center>
                <h1>Welcome to ALUMNIS Directory</h1>
            </center>
            <center>
                <h2> View our alumnis </h2>
            </center>
            <p></p>
            <p>
                <a class="btn btn-primary btn-large" href="/alumni/new">ADD YOUR PROFILE</a>
            </p>

            <p>
                <a class="btn btn-primary btn-large" href="/alumni/search">SEARCH ALUMNI</a>
            </p>

        </div>
    </header>

    <!-- <form action="/search" method="POST">

            <input type="text" name="name" placeholder="name">
            <input type="text" name="batch" placeholder="batch">
            <input type="text" name="branch" placeholder="branch">
            <input type="text" name="college" placeholder="college">

            <button> search</button>

        </form> -->

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% alumni.forEach(function(alumni){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <!-- <img src="<%= alumni.image %>"> -->
                <img style="padding:8px 30px ; height: 150px; 20px;display: block;" src="<%= alumni.image %>"
                    alt="Alumni image">
                <div class="caption">
                    <h4>
                        <%= alumni.name %>
                    </h4>
                    <h5>
                        <%= alumni.college %>
                    </h5>
                </div>
                <p>
                    <a href="/alumni/<%= alumni._id%>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<div id="particles-js">


    </br>
    </br>
    </br>
    <div id="abc">

    </div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="/js/script.js"></script>

    <% include partials/footer %>