<% include partials/header1 %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= notice.title %></div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src="https://spiderimg.amarujala.com/assets/images/2018/12/29/750x506/notice_1546053546.jpeg" >
            <div class="content">
                <span><%= notice.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- notice.body %></p>
            </div>
            <a class="ui orange basic button" href="/notices/<%= notice._id %>/edit">Edit</a>
            <form id="delete" action="/notices/<%= notice._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
    
</div>
<% include partials/footer %>

